<app-layout></app-layout>
<br>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Registrar Movimiento
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-movimiento-detalle (movimientoRealizado)="onCreateMovimiento()"></app-movimiento-detalle>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
      <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let producto of Inventarios">
          <th>{{producto.producto?.nombre}}</th>
          <td>{{producto.cantidad}}</td>
      </tr>
  </tbody>
</table>